RevenuePlanner.Test/Service References/BDSService/BDSService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BDSService/BDSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CID" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsClientAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDirector" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPlanner" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSystemAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLoginDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewManagerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePhoto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="RoleTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserApplicationId" nillable="true" type="tns:ArrayOfUser.ApplicationDetail" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser.ApplicationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User.ApplicationDetail" nillable="true" type="tns:User.ApplicationDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser.ApplicationDetail" nillable="true" type="tns:ArrayOfUser.ApplicationDetail" />
  <xs:complexType name="User.ApplicationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="ApplicationTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptedConnectionString" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RoleIdApplicationWise" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User.ApplicationDetail" nillable="true" type="tns:User.ApplicationDetail" />
  <xs:complexType name="ArrayOfAppConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppConfiguration" nillable="true" type="tns:AppConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppConfiguration" nillable="true" type="tns:ArrayOfAppConfiguration" />
  <xs:complexType name="AppConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Config_Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Config_Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppConfiguration" nillable="true" type="tns:AppConfiguration" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomCss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDisplayInMenu" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentApplicationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ArrayOfPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermission" nillable="true" type="tns:ArrayOfPermission" />
  <xs:complexType name="Permission">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permission" nillable="true" type="tns:Permission" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="PasswordResetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="PasswordResetRequestId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordResetRequest" nillable="true" type="tns:PasswordResetRequest" />
  <xs:complexType name="ArrayOfSecurityQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityQuestion" nillable="true" type="tns:SecurityQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityQuestion" nillable="true" type="tns:ArrayOfSecurityQuestion" />
  <xs:complexType name="SecurityQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecurityQuestion1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityQuestion" nillable="true" type="tns:SecurityQuestion" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="ArrayOfApplicationActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationActivity" nillable="true" type="tns:ApplicationActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationActivity" nillable="true" type="tns:ArrayOfApplicationActivity" />
  <xs:complexType name="ApplicationActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationActivity" nillable="true" type="tns:ApplicationActivity" />
  <xs:complexType name="ArrayOfUserApplicationPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserApplicationPermission" nillable="true" type="tns:UserApplicationPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserApplicationPermission" nillable="true" type="tns:ArrayOfUserApplicationPermission" />
  <xs:complexType name="UserApplicationPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserApplicationPermission" nillable="true" type="tns:UserApplicationPermission" />
  <xs:complexType name="ArrayOfCustomRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomRestriction" nillable="true" type="tns:CustomRestriction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomRestriction" nillable="true" type="tns:ArrayOfCustomRestriction" />
  <xs:complexType name="CustomRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomFieldId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomRestrictionId" type="xs:int" />
      <xs:element minOccurs="0" name="Permission" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomRestriction" nillable="true" type="tns:CustomRestriction" />
  <xs:complexType name="ArrayOfUserHierarchy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserHierarchy" nillable="true" type="tns:UserHierarchy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserHierarchy" nillable="true" type="tns:ArrayOfUserHierarchy" />
  <xs:complexType name="UserHierarchy">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="RoleTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserHierarchy" nillable="true" type="tns:UserHierarchy" />
  <xs:complexType name="ArrayOfClientDatabase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDatabase" nillable="true" type="tns:ClientDatabase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDatabase" nillable="true" type="tns:ArrayOfClientDatabase" />
  <xs:complexType name="ClientDatabase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientDatabaseID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" type="ser:guid" />
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptedConnectionString" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDatabase" nillable="true" type="tns:ClientDatabase" />
  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrency" nillable="true" type="tns:ArrayOfCurrency" />
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencySymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISOCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserCurrency" nillable="true" type="tns:Currency.UserCurrencyRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="Currency.UserCurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyExchangeRate" nillable="true" type="tns:ArrayOfCurrency.CurrencyExchangeRate" />
      <xs:element minOccurs="0" name="UserPreferredCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPreferredCurrencySymbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency.UserCurrencyRate" nillable="true" type="tns:Currency.UserCurrencyRate" />
  <xs:complexType name="ArrayOfCurrency.CurrencyExchangeRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency.CurrencyExchangeRate" nillable="true" type="tns:Currency.CurrencyExchangeRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrency.CurrencyExchangeRate" nillable="true" type="tns:ArrayOfCurrency.CurrencyExchangeRate" />
  <xs:complexType name="Currency.CurrencyExchangeRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="Component" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencySymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:double" />
      <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency.CurrencyExchangeRate" nillable="true" type="tns:Currency.CurrencyExchangeRate" />
</xs:schema>