RevenuePlanner/Service References/BDSService/BDSService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BDSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BDSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stage-new:8085/BDSServiceDev/BDSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ExchangeRate_Log">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="Component" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISOCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogId" type="xs:long" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewExchangeRate" type="xs:double" />
      <xs:element minOccurs="0" name="OldExchangeRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeRate_Log" nillable="true" type="tns:ExchangeRate_Log" />
</xs:schema>