RevenuePlanner/Service References/BDSService/BDSService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stage-new:8085/BDSServiceDev/BDSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://stage-new:8085/BDSServiceDev/BDSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" />
  <xs:import schemaLocation="http://stage-new:8085/BDSServiceDev/BDSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q1:guid" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="ValidateUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q3:guid" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="Validate_UserResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate_UserOverAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate_UserOverAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="Validate_UserOverAllResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAppConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q6:guid" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAppConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="ValidateAppConfigurationResult" nillable="true" type="q7:ArrayOfAppConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q8:guid" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q9:guid" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="ValidateUserByClientResult" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMemberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMemberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetTeamMemberDetailsResult" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMemberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q15:guid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q16:guid" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q17:guid" />
        <xs:element minOccurs="0" name="isSystemAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetTeamMemberListResult" nillable="true" type="q18:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetClientListResult" nillable="true" type="q19:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetClientByIdResult" nillable="true" type="q21:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleTeamMemberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdList" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleTeamMemberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetMultipleTeamMemberDetailsResult" nillable="true" type="q23:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q24:guid" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q25:guid" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCurrentPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q26:guid" />
        <xs:element minOccurs="0" name="currentPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCurrentPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCurrentPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ApplicationId" type="q27:guid" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleId" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetMenuResult" nillable="true" type="q29:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ApplicationId" type="q30:guid" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleId" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetAllMenuResult" nillable="true" type="q32:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasureMenuforPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ApplicationId" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasureMenuforPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetMeasureMenuforPlanResult" nillable="true" type="q34:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ApplicationId" type="q35:guid" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleId" type="q36:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetPermissionResult" nillable="true" type="q37:ArrayOfPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q38:guid" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q40:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserDetailsByIdResult" nillable="true" type="q42:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q43:User" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q44:guid" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdBy" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q46:User" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q47:guid" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdBy" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_CreateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q49:User" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdBy" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserBasicResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserWithPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q51:User" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdBy" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserWithPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserWithPermissionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_CreateUserWithPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q54:User" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q55:guid" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdBy" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_CreateUserWithPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_CreateUserWithPermissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q57:User" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="modifiedBy" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q60:User" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="modifiedBy" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="client" nillable="true" type="q62:Client" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="modifiedBy" type="q63:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClientDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q64:guid" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q65:guid" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q66:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRoleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetApplicationDictionaryResult" nillable="true" type="q68:ArrayOfKeyValueOfguidstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowedMenusForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowedMenusForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllowedMenusForUserResult" nillable="true" type="q71:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMenuNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q72:guid" />
        <xs:element minOccurs="0" name="SingleHash_NewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q73:guid" />
        <xs:element minOccurs="0" name="SingleHash_NewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ResetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" type="q74:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetRoleDetailsResult" nillable="true" type="q75:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastLoginDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q76:guid" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q77:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastLoginDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLastLoginDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePasswordResetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="objPasswordResetRequest" nillable="true" type="q78:PasswordResetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePasswordResetRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePasswordResetRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordResetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PasswordResetRequestId" type="q79:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordResetRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetPasswordResetRequestResult" nillable="true" type="q80:PasswordResetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="objPasswordResetRequest" nillable="true" type="q81:PasswordResetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResetRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResetRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetSecurityQuestionResult" nillable="true" type="q82:ArrayOfSecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSecurityQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="user" nillable="true" type="q83:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSecurityQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserSecurityQuestionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserListByClientIdResult" nillable="true" type="q85:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListComplete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserListCompleteResult" nillable="true" type="q86:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationReleaseVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q87:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationReleaseVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationReleaseVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q88:guid" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q89:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserActivityPermissionResult" nillable="true" type="q90:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q91:guid" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q92:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetAllRoleListResult" nillable="true" type="q93:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserApplicationactivitylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q94:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserApplicationactivitylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserApplicationactivitylistResult" nillable="true" type="q95:ArrayOfApplicationActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateRoleCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="role" nillable="true" type="q96:Role" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q97:guid" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientID" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicateRoleCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DuplicateRoleCheckResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleMemberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q99:guid" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleid" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetRoleMemberListResult" nillable="true" type="q101:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleAndReassign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="delroleid" type="q102:guid" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="reassignroleid" nillable="true" type="q103:guid" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q104:guid" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="modifiedBy" type="q105:guid" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q106:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleAndReassignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleAndReassignResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roledesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permissionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorcode" nillable="true" type="xs:string" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q107:guid" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdby" type="q108:guid" />
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleid" type="q109:guid" />
        <xs:element minOccurs="0" name="delpermission" nillable="true" type="xs:string" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q110:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoleWithoutPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roledesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorcode" nillable="true" type="xs:string" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q111:guid" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdby" type="q112:guid" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleid" type="q113:guid" />
        <xs:element minOccurs="0" name="delpermission" nillable="true" type="xs:string" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q114:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoleWithoutPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateRoleWithoutPermissionResult" type="q115:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyroledesc" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="originalid" type="q116:guid" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q117:guid" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdby" type="q118:guid" />
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q119:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyRoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleactivitypermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleid" type="q120:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleactivitypermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetRoleactivitypermissionsResult" nillable="true" type="q121:ArrayOfApplicationActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q122:guid" />
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q123:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserActivityResult" nillable="true" type="q124:ArrayOfUserApplicationPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCustomRestrictionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q125:guid" />
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q126:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCustomRestrictionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserCustomRestrictionListResult" nillable="true" type="q127:ArrayOfCustomRestriction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserActivityPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q128:guid" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreatorId" type="q129:guid" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="permissions" nillable="true" type="q130:ArrayOfstring" />
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q131:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserActivityPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserActivityPermissionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserActivityPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q132:guid" />
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q133:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserActivityPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserActivityPermissionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserCustomrestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q134:guid" />
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q135:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserCustomrestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserCustomrestrictionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetToRoleDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q136:guid" />
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CretorId" type="q137:guid" />
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q138:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetToRoleDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resetToRoleDefaultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyRoleWithoutPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyroledesc" nillable="true" type="xs:string" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="originalid" type="q139:guid" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q140:guid" />
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdby" type="q141:guid" />
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ClientId" type="q142:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyRoleWithoutPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CopyRoleWithoutPermissionResult" type="q143:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleIdFromUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q144:guid" />
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q145:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleIdFromUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetRoleIdFromUserResult" type="q146:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q147:guid" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q148:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHierarchyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserHierarchyResult" nillable="true" type="q149:ArrayOfUserHierarchy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q150:guid" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q151:guid" />
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q152:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetManagerListResult" nillable="true" type="q153:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherApplicationUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q154:guid" />
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q155:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherApplicationUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetOtherApplicationUsersResult" nillable="true" type="q156:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q157:guid" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RoleId" type="q158:guid" />
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q159:guid" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="createdBy" type="q160:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListWithCustomRestrictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q161:guid" />
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q162:guid" />
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q163:guid" />
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customRestrictionFieldIds" nillable="true" type="q164:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListWithCustomRestrictionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetUserListWithCustomRestrictionsResult" nillable="true" type="q165:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleTeamMemberName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleTeamMemberNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetMultipleTeamMemberNameResult" nillable="true" type="q166:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleTeamMemberNameByApplicationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdList" nillable="true" type="xs:string" />
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q167:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleTeamMemberNameByApplicationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetMultipleTeamMemberNameByApplicationIdResult" nillable="true" type="q168:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientApplicationactivitylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationid" type="q169:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientApplicationactivitylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetClientApplicationactivitylistResult" nillable="true" type="q170:ArrayOfApplicationActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userid" type="q171:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetDatabaseListResult" nillable="true" type="q172:ArrayOfClientDatabase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultRightsForDababase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q173:guid" />
        <xs:element xmlns:q174="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q174:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultRightsForDababaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultRightsForDababaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseAgreed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q175:guid" />
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q176:guid" />
        <xs:element minOccurs="0" name="IsAgreed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseAgreedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLicenseAgreedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseAgreed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q177:guid" />
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="applicationId" type="q178:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseAgreedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseAgreedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePasswordHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q179:guid" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q180="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreatedBy" type="q180:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePasswordHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePasswordHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetAllCurrencyResult" nillable="true" type="q181:ArrayOfCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q182:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetClientCurrencyResult" nillable="true" type="q183:ArrayOfCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="currency" nillable="true" type="q184:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientCurrencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyId" type="xs:int" />
        <xs:element xmlns:q185="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q185:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClientCurrencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currencyIds" nillable="true" type="q186:ArrayOfstring" />
        <xs:element xmlns:q187="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q187:guid" />
        <xs:element xmlns:q188="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q188:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClientCurrencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q189:guid" />
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q190:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyExchangeRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/BDSService.BDSEntities" minOccurs="0" name="GetCurrencyExchangeRateResult" nillable="true" type="q191:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>